# Basic Input/Output

In [1]:
print("Hello world!")

Hello world!

In [2]:
x = 1
print(x)

1

In [3]:
x = 1
y = 2
print("The value of x is", x, "and the value of y is", y)

The value of x is 1 and the value of y is 2

# Math

In [24]:
x = 2
y = 3
x + y

5

In [25]:
x - y

-1

In [26]:
x*y

6

In [27]:
x/y

0.6666666666666666

In [28]:
x**y # x to the y-th power

8

In [29]:
x % y # returns the remainder of x/y

2

In [30]:
x + 2*y # Python understands the order of operations. It first multiplies 2*y and then adds that value to x

8

In [31]:
(x + 2*y)**2

64

In [32]:
(x + 2*y)**2*2

128

# Assignment Statements

In [12]:
2*x = y # this gives an error.

SyntaxError: can't assign to operator (<ipython-input-12-8e5ff8895c60>, line 1)

In [13]:
x = 3
x = x + 2 # this takes the current value of x, adds 2 and then stores the new value back in the variable x
print(x)

5

In [14]:
x = 3
x += 2 # this does the same thing, x+=2 is short hand for x=x+2
print(x)

5

In [15]:
x = 3
# there are other combinations as well
x -= 1
print(x)

2

In [16]:
x = 3
x *= 4
print(x)

12

# Mathematical Functions

In [2]:
from numpy import log, exp, sin, cos, tan, pi, e
log(10)

2.302585092994046

In [18]:
log(e)

1.0

In [19]:
cos(pi)

-1.0

In [20]:
tan(pi/2)

1.633123935319537e+16

In [3]:
1e16/tan(pi/2)

0.6123233995736765

# Input

In [21]:
x = int(input("Enter a value for x:"))
print(x)

Enter a value for x:12
12

# if Statements

In [22]:
x = int(input("Enter a whole number less than 10:"))
if x >= 10:
    print("Your number is not less than 10")

Enter a whole number less than 10:11
Your number is not less than 10

In [33]:
x = int(input("Enter a whole number less than 10:"))
if x >= 10:
    print("Your number is too big")
elif x == 9:
    print("Your number is ok, but you're cutting it close")
else:
    print("Your number is fine. Move along")

Enter a whole number less than 10:9
Your number is ok, but you're cutting it close

# For Loops

In [26]:
for n in 0,1,2,3,4:
    print(n)

0
1
2
3
4

In [1]:
for n in range(5):
    print(n)

0
1
2
3
4

In [28]:
for n in range(1,10):
    print(n)

1
2
3
4
5
6
7
8
9

In [29]:
for n in range(1,10,2):
    print(n)

1
3
5
7
9

# Simple Program
This calculates the height of a ball dropped from the top of a tower. The user inputs the height of the tower and the time that the ball has been in the air. The program then calculates the ball's height above Earth's surface at that time.

In [2]:
g = 9.81 # gravitational constant in m/s^2
h = float(input("Enter the height of the tower above ground: "))
t = float(input("Enter the time interval: "))
d = 0.5*g*t**2 # distance ball has fallen in time t

if h-d < 0:
    print("The ball has already hit the ground.")
else:
    print("The height of the ball is", h-d, "meters above the ground")

Enter the height of the tower above ground: 10
Enter the time interval: 0.5
The height of the ball is 8.77375 meters above the ground

In [ ]:
from numpy import pi
G = 6.67 * 10**(-11)
M = 5.97*10**24
R = 6.371*10**6
T = int(input("Enter period T in hours: "))   # hours
t = T*3600 # seconds

h = ((G*M*t**2) / (4*pi**2))**(1/3) - R

if h>0:
    print ("Altitude for T={:>2d} [hrs] is: {:.2f} [m]".format(T, h))
else:
    print("T too low! Negative altitude")

Altitude for T= 2 [hrs] is: 1685290.92 [m]